<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="softwaretestingmaterial">
    <test name="testngTest" parallel="methods" thread-count="6">
        <classes>
            <class name="TestDesignPattern" />
        </classes>
    </test>
</suite>
